{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() ~ title }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            Welcome to our app homepage
        </div>
    </div>
{% endblock %}

